/* styles.css */
#autoplay {
    width: 70%;
    margin: 0 auto;
  }
  
  #autoplay li {
    list-style: none;
    margin: 0;
    padding: 20px;
    width:50%;
    height:50%;
  }
  
  #autoplay li img {
    width: 80%;
    height:80%;
    height: auto;
    display: block;
    padding:20px;
  }
  
  .slider-info {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
  